@import 'fonts.css';

body {
	font-family: Roboto;
	background: #e0e0e0;
}

/* Comunes */
.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

.btn-primary {
	background: red!important;
	border-color: red!important;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
	opacity: 0.35;
}

.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:focus + .btn, .btn:focus {
	box-shadow: none;
}
/* Comunes end */

.btn-primary:hover {
	background: black!important;
	border-color: black!important;
	color: white!important;
}

#app {
	padding: 15px;
	height: 100vh;
	width: 100%;
	position: relative;
}

/* Counter */
.counter {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 100px;
	height: 50px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: red;
	color: white;
	flex-direction: column;
	padding: 5px;
	box-shadow: 0 0 5px grey;
}

.counter p {
	margin: 0;
	font-size: 0.85rem;
	font-weight: 300;
}

.counter p span {
	font-size: 1rem;
	font-weight: 700;
}
/* Counter end */

/* Pantalla Inicial */
.pantalla_inicial .col-md-12 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.pantalla_inicial {
	
}

.pantalla_inicial .logo {
	margin-top: 20px;
	margin-bottom: 30px;	
}

.pantalla_inicial .honda_terapia {
	font-family: Soloist;
	font-size: 2rem;
	color: red;
	margin-bottom: 100px;	
}

.pantalla_inicial .frase_inicial {
	font-family: Soloist;
	font-size: 1.5rem;
	color: black;
	margin-bottom: 100px;	
}

.pantalla_inicial .frase_inicial span {
	color: red;
}

.pantalla_inicial .boton_inicial {
	cursor: pointer;
}

.pantalla_inicial .boton_inicial:hover {
	opacity: 0.6;
}
/* Pantalla Inicial end */

/* Pantalla Juego */
.pantalla_juego {
	
}

.pantalla_juego .logo {
	margin-bottom: 20px;	
}

.pantalla_juego .frase {
	font-family: Soloist;
	font-size: 1.5rem;
	color: black;
	border-bottom: solid 1px black;
}

.motos_featured {
	position: relative;
}

.motos_featured:before {
	content: url('../img/tilde_selected.png');
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: green;
	position: absolute;
	right: 3%;
	top: 3%;
	z-index: 999;
}

.image_featured {
	border: solid 2px green!important;
}

.pantalla_juego .motos img {
	cursor: pointer;
	border-radius: 10px;
	border: solid 2px black;
}

.pantalla_juego .motos img:hover {
	opacity: 0.7;
	border: solid 2px red;
}

.pantalla_juego .motos .content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 10px;
	margin-bottom: 25px;
}

.pantalla_juego .motos .content h3 {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
}

.pantalla_juego .motos .content button {
	font-size: 0.7rem;
	font-weight: 300;
	padding: 5px;
}

.pantalla_juego .elegir {
	font-size: 1.25rem;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: 700;
}

.pantalla_juego .reiniciar {
	font-size: 0,85rem;
	font-weight: 300;
}
/* Pantalla Juego end */

/* Modal */
.modal-lg, .modal-xl {
	max-width: 900px;
}

.modal-header,
.modal-body,
.modal-footer {
	background: #e8e8e8;
}

.modal-header {
	align-items: flex-start;
	border-bottom: none;
}

.modal-header h5 {
	font-family: Soloist;
	font-size: 3.5rem;
}

.modal-body img {
	border-radius: 10px;
	border: solid 3px red;
}

.modal-body p {
	font-weight: 300;
	margin: 0;
}

.modal-body p span {
	font-weight: 700;
}
/* Modal end */

/* Pantalla Ganadores */
.pantalla_ganadores {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	
}

.pantalla_ganadores .logo {
	margin-bottom: 40px;
}

.pantalla_ganadores .frase {
	font-family: Soloist;
	font-size: 2rem;
	color: black;
	margin-bottom: -20px;
}

.pantalla_ganadores .moto_ganadora {
	border-radius: 10px;
	border: solid 3px red;
}

.pantalla_ganadores h5 {
	font-weight: 700;
	font-size: 2rem;
	margin-top: 5px;
	margin-bottom: 0;
}

.pantalla_ganadores p {
	font-weight: 300;
	font-size: 1.1rem;
	margin: 0;
}

.pantalla_ganadores p span {
	font-weight: 700;
	text-align: left;
}

.pantalla_ganadores .elegir {
	font-size: 1.5rem;
	margin-bottom: 15px;
}
/* Pantalla Ganadores end */

/* Pantalla Perdedores */
.pantalla_perdedores {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.pantalla_perdedores .content_frase {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid 1px black;
	padding-bottom: 10px;
}

.pantalla_perdedores .frase {
	font-family: Soloist;
	font-size: 1.5rem;
	color: black;
	margin-bottom: 0;
	margin-right: 20px;
}

.pantalla_perdedores .content_frase .content_moto_perdedora {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 150px;
}

.pantalla_perdedores .content_frase .content_moto_perdedora img {
	border-radius: 10px;
	border: solid 3px black;
	margin-bottom: 5px;
	max-width: 150px;
}

.pantalla_perdedores h6 {
	margin-bottom: 0;
	font-size: 0.75rem;
	font-weight: 700;
}

.pantalla_perdedores .moto_sonido {
	border-radius: 10px;
	border: solid 3px red;
}

.pantalla_perdedores h5 {
	font-weight: 700;
	font-size: 2rem;
	margin-top: 5px;
	margin-bottom: 0;
}

.pantalla_perdedores h3 {
	font-family: Soloist;
	font-size: 1.5rem;
	color: red;
}

.pantalla_perdedores p {
	font-weight: 300;
	font-size: 1rem;
}

.pantalla_perdedores p span {
	font-weight: 700;
}

.pantalla_perdedores .elegir {
	font-size: 1.5rem;
	margin-bottom: 15px;
}
/* Pantalla Perdedores end */










