<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HONDA TERAPIA</title>

	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
	<link rel="manifest" href="img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="./node_modules/normalize.css/normalize.css">
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./node_modules/aos/dist/aos.css">
	<link rel="stylesheet" href="./css/app.css">

</head>
<body>

	<div id="app">

		<!-- Modal -->
		<div class="modal fade" id="motoModal" tabindex="-1" aria-labelledby="motoModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-xl">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<div class="text-center w-100">
		        	<h5 class="modal-title" id="motoModalLabel">{{ motoToShowInModal.name }}</h5>
		      	</div>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <div class="container-fluid">
					    <div class="row">
					      <div class="col-md-7">
					      	<img 
					      		class="img-fluid" 
					      		:src="'./img/' + motoToShowInModal.image_lg" 
					      		:alt="'moto honda ' + motoToShowInModal.name + 'modal grande'">
					      </div>
					      <div class="col-md-5">
					      	<p v-html="motoToShowInModal.description"></p>
					      </div>
					    </div>
					  </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Modal end -->
		
		<!-- Pantalla Inicial -->
		<div v-if="pantallaInicio" class="container pantalla_inicial h-100">
			<div class="row h-100">
				<div class="col-md-12 text-center h-100">
					<img class="img-fluid logo" src="./img/logo-onda.png" alt="logo honda">
					<p class="honda_terapia">#HONDATERAPIA</p>
					<p class="frase_inicial">Reproducí el sonido de una <span>moto Honda</span> <br>y demostrá cuánto sabes</p>
					<img @click="goToPantallaJuego" class="img-fluid boton_inicial transition" src="./img/boton.png" alt="inicio">
				</div>
			</div>
		</div>
		<!-- Pantalla Inicial -->

		<!-- Pantalla Juego -->
		<div v-if="pantallaJuego" class="container pantalla_juego h-100">

			<audio id="player"  loop autoplay>
  			<source id="mp3_src" src="#" type="audio/mpeg">
  			Your browser does not support the audio element.
			</audio>

			<div class="row">
				<div class="col-md-10 offset-md-1 text-center h-100">
					<img class="img-fluid logo" src="./img/logo-onda.png" alt="logo honda">
					<p class="frase">Seleccioná la moto a la que pertenece el sonido</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 offset-md-1">

					<div class="row">

						<!-- Grilla Motos -->
						<div 
							v-for="(moto, index) in motos"
							:key="index" 
							:class="[ moto.id % 2 == 0 ? 'col-md-5' : 'col-md-5 offset-md-1']"
							>
							<div class="motos">
								<img 
									@click="motoSeleccionadaPorUsuario(moto.id)" 
									class="img-fluid transition images_motos" 
									:src="'./img/' + moto.image_sm" 
									:alt="'moto listado honda ' + moto.name">
								<div class="content">
									<h3>{{ moto.name }}</h3>
									<button 
										@click="showMoto(moto.id)" 
										class="transition btn btn-primary" 
										data-bs-toggle="modal" 
										data-bs-target="#motoModal">VER MÁS
									</button>
								</div>
							</div>
						</div>
						<!-- Grilla Motos end -->

					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-10 offset-md-1">
					<button @click="jugar" :disabled="verifyMotoSelected" class="transition btn btn-primary elegir w-100">ELEGIR</button>
				</div>
				<div class="col-md-2 offset-md-5">
					<button @click="goToPantallaInicio" class="transition btn btn-primary reiniciar w-100">REINICIAR</button>
				</div>
			</div>

		</div>
		<!-- Pantalla Juego -->

		<!-- Pantalla Ganadores -->
		<div v-if="pantallaGanadores" class="container pantalla_ganadores h-100">

			<div class="row">
				<div class="col-md-12 text-center">
					<img class="img-fluid logo" src="./img/logo-onda.png" alt="logo honda ganadores">
					<p class="frase">¡CORRECTO! Sos todo un experto en motos</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-7">
					<img 
						class="img-fluid moto_ganadora" 
						:src="'./img/' + motoCorrecta.image_lg" 
						:alt="'moto honda' + motoCorrecta.name + ' grande'">
					<h5>{{ motoCorrecta.name }}</h5>
				</div>

				<div class="col-md-5">
					<p v-html="motoCorrecta.description"></p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button @click="goToPantallaJuego" class="transition btn btn-primary elegir w-100">JUGAR DE NUEVO</button>
				</div>
			</div>

		</div>
		<!-- Pantalla Ganadores -->

		<!-- Pantalla Perdedores -->
		<div v-if="pantallaPerdedores" class="container pantalla_perdedores h-100">

			<div class="row">
				<div class="col-md-12 text-center">
					<img class="img-fluid logo" src="./img/logo-onda.png" alt="logo honda">
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center content_frase">
					<p class="frase">TU ELECCIÓN ES INCORRECTA!</p>
					<div class="content_moto_perdedora">
						<img 
							class="img-fluid" 
							:src="'./img/' + motoSeleccionada.image_sm" 
							:alt="'moto seleccionada honda' + motoSeleccionada.name">
						<h6>{{ motoSeleccionada.name }}</h6>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<img 
						class="img-fluid moto_sonido" 
						:src="'./img/' + motoCorrecta.image_lg" 
						:alt="'moto correcta honda' + motoCorrecta.name + ' grande'">
					<h5>{{ motoCorrecta.name }}</h5>
				</div>

				<div class="col-md-6">
					<h3>El sonido corresponde A la moto {{ motoCorrecta.name }}</h3>
					<p v-html="motoCorrecta.description"></p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button @click="goToPantallaJuego" class="transition btn btn-primary elegir w-100">JUGAR DE NUEVO</button>
				</div>
			</div>

		</div>
		<!-- Pantalla Perdedores -->

	</div>

	<script src="./node_modules/jquery/dist/jquery.min.js"></script>
	<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="./node_modules/vue/dist/vue.js"></script>
	<script src="./node_modules/aos/dist/aos.js"></script>
	<script src="./js/app.js"></script>
	
</body>
</html>